{{>layout/header}}

<h1 align="center">어서 오세요</h1>
<h2 align="center">자녀 학습관리 시스템 입니다.</h2>
<br>
<br>

<div class="container">
    <form>
        <input type="hidden" id="id" value="{{board.id}}">

        <!--saveForm과 다른점은 모델에서 기존 데이터를 읽어서 보여주는 점-->
        <div class="form-group">
            <input value="{{board.title}}" type="text" class="form-control" placeholder="Enter title" id="title">
        </div>

        <div class="form-group">
            <textarea class="form-control summernote" rows="5" id="content">{{board.content}}</textarea>
        </div>

    </form>

    <button id="btn-board-update" class="btn btn-primary">글수정 완료</button>
</div>

<script>
      $('.summernote').summernote({
        tabsize: 2,
        height:280
      });

</script>

<br>
<br>
<script src="/js/board.js"></script>

{{>layout/footer}}

